<div class="sidebar-container">
  <!-- Navigation Menu -->
  <mat-nav-list class="sidebar-nav">
    <div *ngFor="let item of menuItems" class="menu-item-wrapper">
      <mat-list-item 
        [class.active]="isActiveRoute(item.route)"
        [class.has-submenu]="item.subItems"
        [class.expanded]="item.expanded"
        (click)="item.subItems ? toggleSubItems(item) : navigateTo(item.route)"
        class="menu-item">
        
        <span matListItemTitle class="menu-label">{{ item.labelKey ? (item.labelKey | translate) : item.label }}</span>
        
        <button *ngIf="item.subItems" 
                mat-icon-button 
                matListItemMeta 
                class="expand-button"
                (click)="toggleSubItems(item); $event.stopPropagation()"
                [matTooltip]="item.expanded ? 'Collapse' : 'Expand'"
                [attr.aria-label]="item.expanded ? 'Collapse submenu' : 'Expand submenu'">
          <mat-icon class="expand-icon" [class.rotated]="item.expanded">
            {{ item.expanded ? 'keyboard_arrow_up' : 'keyboard_arrow_down' }}
          </mat-icon>
        </button>
      </mat-list-item>

      <!-- Sub Menu Items -->
      <div *ngIf="item.subItems && item.expanded" class="sub-menu" [@slideInOut]>
        <mat-list-item 
          *ngFor="let subItem of item.subItems"
          [class.active]="isActiveRoute(subItem.route)"
          (click)="navigateTo(subItem.route)"
          class="sub-menu-item">
          <span matListItemTitle class="sub-menu-label">{{ subItem.labelKey ? (subItem.labelKey | translate) : subItem.label }}</span>
        </mat-list-item>
      </div>
    </div>
  </mat-nav-list>

  <!-- Sidebar Footer -->
  <div class="sidebar-footer">
    <div class="version-info">
      <span class="version-text">v1.138</span>
      <span class="build-info">Build 2024.01</span>
    </div>
  </div>
</div>
