<mat-form-field appearance="outline" class="datetime-picker-field">
  <mat-label>{{ label }}</mat-label>
  <input 
    matInput 
    [value]="displayValue"
    [placeholder]="placeholder"
    [disabled]="disabled"
    [required]="required"
    readonly
    (click)="openDateTimePicker()"
    (focus)="openDateTimePicker()">
  
  <button 
    mat-icon-button 
    matSuffix 
    type="button"
    [disabled]="disabled"
    (click)="openDateTimePicker()"
    aria-label="Abrir selector de fecha y hora">
    <mat-icon>event</mat-icon>
  </button>
  
  <button 
    *ngIf="value && !disabled"
    mat-icon-button 
    matSuffix 
    type="button"
    (click)="clearValue()"
    aria-label="Limpiar fecha y hora"
    class="clear-button">
    <mat-icon>clear</mat-icon>
  </button>
</mat-form-field>

